<p>
  Signals communicate information. Signal processing separates unimportant from important information in a signal to make relevant information easily accessible. Biomedical signal processing extracts useful information from biological signals, such as the pattern found in a CT scan.  The goal of is to eliminate noise from the signal by designing filters that best separate signal from noise. Identifying and measuring features that best characterize the information of interest in a signal is another goal of signal processing. 
</p>
<p>
</p>
