<p>
  Study group sessions feature problem-solving and challenges in a cooperative setting. Rather than have an instructor lead, we’ll study on our own and meet for one hour to solve exercises together. Statistics with R Study Group will explore Irizarry & Love’s <a href="http://rwdc2.com/files/rafa.pdf">Data Analysis for the Life Sciences</a>. This book starts with one of the most critical areas in statistics and in the life sciences: statistical inference. Other topics include exploratory data analysis, matrix algebra, statistical models, and distance and dimension reduction.
</p>
<p>
Statistics with R Study Group will meet weekly from 11am to 12pm on Tuesdays from January 14 to March 3.   Participants will be encouraged to help one another and to apply what they have learned to their own research problems.
</p>
