<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, Feb 11</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="">Introduction to Signal Processing</a> </td> </tr>
      <tr> <td>2:00</td>  <td><a href="">Aliasing</a> </td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, Feb 18</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="">Introduction to the Fast Fourier Transform (FFT)</a> </td> </tr>
      <tr> <td>2:00</td>  <td><a href="">Applying the FFT in Python</a> </td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
   <h3>Tuesday, Feb 25</h3>
    <table class="table table-striped">
      <tr> <td>1:00</td>  <td><a href="">Practical Applications of the FFT</a> </td> </tr>
      <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>
